node_modules
.DS_Store

# ビルド成果物置き場
dist
package

# 開発実行時のログ出力先
logs

# defaultをベースに自動生成されるファイル
config.xml
icon.ico

# ローカル限定エントリであることのマーク
*.local*

# ビルド時に自動生成されるファイル
src-tauri/resources/config.default.xml